<% if user_signed_in? %>
    <% if current_page?(user_path current_user) %>
        <li class="active"><%= link_to(user_path current_user) do %><i class="glyphicon glyphicon-share"></i> Show
              Profile
          <% end %></li>
    <% else %>
        <li><%= link_to(user_path current_user) do %><i class="glyphicon glyphicon-share"></i> Show Profile
          <% end %></li>
    <% end %>
    <% if current_page?(edit_user_registration_path current_user) %>
        <li class="active"><%= link_to(edit_user_registration_path) do %><i class="glyphicon glyphicon-edit"></i> Edit
              Profile
          <% end %></li>
    <% else %>
        <li><%= link_to(edit_user_registration_path) do %><i class="glyphicon glyphicon-edit"></i> Edit Profile
          <% end %></li>
    <% end %>
    <li class="divider"></li>
    <li><%= link_to(destroy_user_session_path, method: :delete) do %>
          <i class="glyphicon glyphicon-log-out"></i> Sign out
      <% end %></li>
<% else %>
    <li><%= link_to new_user_registration_path do %>
          <i class="glyphicon glyphicon-edit"></i> Sign up
      <% end %></li>
    <li><%= link_to new_user_session_path do %>
          <i class="glyphicon glyphicon-log-in"></i> Sign in
      <% end %></li>
    <li class="divider"></li>
    <li><%= link_to user_omniauth_authorize_path(:facebook) do %>
          <i class="fa fa-facebook-square"></i> Sign in with Facebook
      <% end %></li>
    <li><%= link_to user_omniauth_authorize_path(:google_oauth2) do %>
          <i class="fa fa-google-plus-square"></i> Sign in with Google
      <% end %></li>
<% end %>
