<% cache ['v1', comment] do %>
    <%= link_to 'Goal', comment.goal %>: <%= comment.goal.title %>
    <% if comment.goal.score > 0 %>
        <%= link_to comment.goal.score, scores_goal_path(comment.goal), class: 'badge' %>
    <% else %>
        <span class="badge"><%= comment.goal.score %></span>
    <% end %>
    <br>
    <%= link_to 'User', comment.user %>: <%= comment.user.name %>
    <% if comment.user.score > 0 %>
        <%= link_to comment.user.score, scores_user_path(comment.user), class: 'badge' %>
    <% else %>
        <span class="badge"><%= comment.user.score %></span>
    <% end %>
    <p><%= comment.body %></p>
<% end %>
