<% @comments.each do |comment| %>
    <div class="row">
      <div class="col-xs-12">
        <h4><%= comment.body %></h4>
        Goal: <%= link_to comment.goal.title, comment.goal %>,
        User: <%= link_to comment.user.name, comment.user %>
        <br>
        <%= link_to 'Show', comment %>
        <%= link_to 'Edit', edit_comment_path(comment) if can? :update, comment %>
        <%= link_to 'Delete', comment, method: :delete, data: {confirm: 'Are you sure?'} if can? :destroy, comment %>
      </div>
    </div>
    <hr>
<% end %>
