<%= errors_for comment %>
<%= form_for(comment, url: {controller: :comments, action: action}, html: {class: 'form'}) do |f| %>
    <div class="form-group">
      <%= f.label :comment, class: 'control-label' %>
      <%= f.text_area :body, class: 'form-control', placeholder: 'Body' %>
      <%= f.hidden_field :goal_id, value: comment.goal_id %>
      <%= f.hidden_field :user_id, value: current_user.id unless comment.user.present? %>
      <%= f.submit class: 'btn btn-default' %>
    </div>
<% end %>
