<%= content_for :title, t('comments.title.edit') %>

<% title = 'Edit Comment' %>

<%= render layout: 'layouts/jumbotron', locals: {title: title, paginatable: nil} do %>
    <%= render layout: 'layouts/row' do %>
        <li class="list-group-item">
          <%= render partial: 'controls', locals: {comment: @comment} %>
        </li>
    <% end %>
    <%= render partial: 'form', locals: {action: :update, comment: @comment} %>
<% end %>
