<%= content_for :title, t('comments.title.show') %>

<% title = 'Show Comment' %>

<%= render layout: 'layouts/jumbotron', locals: {title: title, paginatable: nil} do %>
    <%= render layout: 'layouts/row' do %>
        <li class="list-group-item">
          <%= render partial: 'controls', locals: {comment: @comment} %>
          <%= render @comment, locals: {comment: @comment} %>
        </li>
    <% end %>
<% end %>
