<% @scores.each do |score| %>
    <div class="row">
      <div class="col-xs-12">
        <h4><%= score.value %></h4>
        Goal: <%= link_to score.goal.title, score.goal %>,
        User: <%= link_to score.user.name, score.user %>
        <br>
        <%= link_to 'Show', score %>
        <%= link_to 'Delete', score, method: :delete, data: {confirm: 'Are you sure?'} if can? :destroy, score %>
      </div>
    </div>
    <hr>
<% end %>
