<%= content_for :title, t('scores.title.show') %>

<% title = 'Show Score' %>

<%= render layout: 'layouts/jumbotron', locals: {title: title, paginatable: nil} do %>
    <%= render layout: 'layouts/row' do %>
        <li class="list-group-item">
          <%= render partial: 'controls', locals: {score: @score} %>
          <%= render @score, locals: {score: @score} %>
        </li>
    <% end %>
<% end %>
