<h4>Score: <b><%= Score.total_for_user user %></b></h4>
<% if user_signed_in? && (current_user.admin? || current_user == user) %>
    <h4>Email: <b><%= user.email %></b></h4>
    <h4>Authentication Token: <b><%= user.authentication_token %></b></h4>
<% end %>
<h4>Status: <b><%= user.status %></b></h4>
<h4>Role: <b><%= user.role %></b></h4>
<h4>Joined on: <b><%= user.created_at.to_formatted_s(:short) %></b></h4>
<h4>No. times logged in: <b><%= user.sign_in_count %></b></h4>
<% if user.current_sign_in_at %>
    <h4>Last logged in on: <b><%= user.current_sign_in_at.to_formatted_s(:short) %></b></h4>
<% else %>
    <h4>Never logged in.</h4>
<% end %>
