<% @users.each do |user| %>
    <div class="row">
      <div class="col-xs-12">
        <h4><%= user.name %></h4>
        <%= link_to 'Show', user %>
        <% if user_signed_in? && current_user.admin? %>
            <%= link_to 'Edit', edit_admin_user_path(user) %>
            <% if user.active? %>
                <%= link_to 'Deactivate', admin_user_path(user), method: :delete, data: {confirm: 'Are you sure?'} %>
            <% else %>
                <%= link_to 'Activate', admin_user_path(user, user: {status: :active}), method: :put %>
            <% end %>
        <% else %>
            <%= link_to 'Edit', edit_user_registration_path if can? :update, user %>
            <%= link_to 'Deactivate', cancel_user_registration_path, data: {confirm: 'Are you sure?'} if can? :destroy, user %>
        <% end %>
      </div>
    </div>
    <hr>
<% end %>
