<h4>User: <%= link_to token.user.name, token.user %></h4>
<h4><%= image_tag token.image, width: '50', height: '50' %></h4>
<h4>UID: <b><%= token.uid %></b></h4>
<h4>Expires At: <b><%= token.expires_at.to_formatted_s(:short) %></b></h4>
<h4>Access token: <b><%= token.access_token %></b></h4>
<h4>Refresh token: <b><%= token.refresh_token %></b></h4>
