<% cache ['v1', token] do %>
    <%= image_tag token.image, width: '50', height: '50' %>
    <br>
    Provider: <b><%= token.provider %></b>
    <br>
    UID: <b><%= token.uid %></b>
    <br>
    Expires at: <b><%= token.expires_at.to_formatted_s :short %></b>
    <br>
    Access token: <b><%= token.access_token %></b>
    <br>
    Refresh token: <b><%= token.refresh_token %></b>
    <br>
    User: <%= link_to token.user.name, token.user %>
    <% if token.user.score > 0 %>
        <%= link_to token.user.score, scores_user_path(user: token.user), class: 'badge' %>
    <% else %>
        <span class="badge"><%= token.user.score %></span>
    <% end %>
<% end %>
