<%= content_for :title, t('tokens.title.index') %>

<% title = link_to('User', user_path(params[:user_id])) + ' Tokens' %>

<%= render layout: 'layouts/jumbotron', locals: {title: title, paginatable: nil} do %>
    <% @tokens.each do |token| %>
        <%= render layout: 'layouts/row' do %>
            <li class="list-group-item">
              <%= render partial: 'controls', locals: {token: token} %>
              <%= render token, locals: {token: token} %>
            </li>
        <% end %>
        <hr>
    <% end %>
<% end %>

