<%= errors_for subscription %>
<%= form_for(subscription, url: {controller: :subscriptions, action: action}, html: {class: 'form'}) do |f| %>
    <div class="form-group">
      <%= f.label :completed, class: 'control-label' %>
      <%= f.check_box :completed, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.submit class: 'btn btn-default' %>
    </div>
<% end %>
