<% @subscriptions.each do |subscription| %>
    <div class="row">
      <div class="col-xs-12">
        <h4><%= subscription.completed? %></h4>
        Goal: <%= link_to subscription.goal.title, subscription.goal %>,
        User: <%= link_to subscription.user.name, subscription.user %>
        <br>
        <td><%= link_to 'Edit', edit_subscription_path(subscription) if can? :update, subscription %></td>
        <td><%= link_to 'Delete', subscription, method: :delete, data: {confirm: 'Are you sure?'} if can? :destroy, subscription %></td>
      </div>
    </div>
    <hr>
<% end %>
