<%= content_for :title, t('subscriptions.title.index') %>

<% if params[:goal] %>
    <% title = link_to('Goal', goal_path(params[:goal])) + ' Subscriptions' %>
<% elsif params[:user] %>
    <% title = link_to('User', user_path(params[:user])) + ' Subscriptions' %>
<% else %>
    <% title = 'Subscriptions' %>
<% end %>

<%= render layout: 'layouts/jumbotron', locals: {title: title, paginatable: @subscriptions} do %>
    <% @subscriptions.each do |subscription| %>
        <%= render layout: 'layouts/row' do %>
            <li class="list-group-item">
              <%= render partial: 'subscriptions/controls', locals: {subscription: subscription} %>
              <%= render subscription, locals: {subscription: subscription} %>
            </li>
        <% end %>
        <hr>
    <% end %>
<% end %>
