<% if params[:user_id] %>
    <li><%= link_to 'Show User', user_path(params[:user_id]) %></li>
    <li class="active"><%= link_to 'User Comments', comments_path(user_id: params[:user_id]) %></li>
<% elsif params[:goal_id] %>
    <li><%= link_to 'Show Goal', goal_path(params[:goal_id]) %></li>
    <li class="active"><%= link_to 'Goal Comments', comments_path(goal_id: params[:goal_id]) %></li>
<% else %>
    <li class="active"><%= link_to 'All Comments', comments_path %></li>
<% end %>
