<% if user_signed_in? %>
    <% if subscription %>
        <%= render partial: 'subscriptions/controls', locals: {subscription: subscription} %>
    <% else %>
        <%= link_to subscriptions_path(subscription: {goal_id: goal.id, user_id: current_user.id}), method: :post do %>
            <h5><i class="glyphicon glyphicon-plus"></i> Subscribe</h5>
        <% end %>
    <% end %>
<% end %>
<h5>
  <% if current_page?(goal) %>
      <i class="glyphicon glyphicon-search"></i> Show
  <% else %>
      <%= link_to goal do %>
          <i class="glyphicon glyphicon-search"></i> Show
      <% end %>
  <% end %>
  <% if current_page?(edit_goal_path goal) %>
      <% if can? :update, goal %>
          | <i class="glyphicon glyphicon-pencil"></i> Edit
      <% end %>
  <% elsif can? :update, goal %>
      | <%= link_to edit_goal_path(goal) do %>
          <i class="glyphicon glyphicon-pencil"></i> Edit
      <% end %>
  <% end %>
  <% if can? :destroy, goal %>
      | <%= link_to goal, method: :delete, data: {confirm: 'Are you sure?'} do %>
          <i class="glyphicon glyphicon-trash"></i> Delete
      <% end %>
  <% end %>
</h5>
