<h5 align="center">
  <% if current_page?(goal) %>
      <i class="glyphicon glyphicon-search"></i> Show
  <% else %>
      <%= link_to goal do %>
          <i class="glyphicon glyphicon-search"></i> Show
      <% end %>
  <% end %>
  <% if user_signed_in? %>
      <% if goal.has_subscriber?(current_user) %>
          <% subscription = GoalsUsers.find_by goal: goal, user: current_user %>
          <% if subscription.completed? %>
              | <i class="glyphicon glyphicon-ok"></i> Completed
          <% else %>
              <% if can? :destroy, subscription %>
                  | <%= link_to subscription_path(subscription), method: :delete do %>
                      <i class="glyphicon glyphicon-minus"></i> Unsubscribe
                  <% end %>
              <% end %>
              <% if can? :update, subscription %>
                  | <%= link_to subscription_path(subscription, subscription: {completed: true}), method: :put do %>
                      <i class="glyphicon glyphicon-ok"></i> Complete
                  <% end %>
              <% end %>
          <% end %>
      <% else %>
          | <%= link_to subscriptions_path(subscription: {goal_id: goal.id, user_id: current_user.id}), method: :post do %>
              <i class="glyphicon glyphicon-plus"></i> Subscribe
          <% end %>
      <% end %>
      <% if current_page?(edit_goal_path goal) %>
          <% if can? :update, goal %>
              | <i class="glyphicon glyphicon-pencil"></i> Edit
          <% end %>
      <% elsif can? :update, goal %>
          | <%= link_to edit_goal_path(goal) do %>
              <i class="glyphicon glyphicon-pencil"></i> Edit
          <% end %>
      <% end %>
      <% if can? :destroy, goal %>
          | <%= link_to goal, method: :delete, data: {confirm: 'Are you sure?'} do %>
              <i class="glyphicon glyphicon-trash"></i> Delete
          <% end %>
      <% end %>
  <% end %>
</h5>
