<% cache ['v1', goal] do %>
    <p><%= goal.text %></p>
    Title: <b><%= goal.title %></b>
    <br>
    Score:
    <% if goal.score > 0 %>
        <%= link_to goal.score, scores_goal_path(goal), class: 'badge' %>
    <% else %>
        <span class="badge"><%= goal.score %></span>
    <% end %>
    <br>
    User: <%= link_to goal.user.name, goal.user %>
    <% if goal.user.score > 0 %>
        <%= link_to goal.user.score, scores_user_path(goal.user), class: 'badge' %>
    <% else %>
        <span class="badge"><%= goal.user.score %></span>
    <% end %>
    <br>
<% end %>
