<% @goals.each do |goal| %>
    <div class="row">
      <div class="col-xs-12">
        <h4><%= goal.title %></h4>
        User: <%= link_to goal.user.name, goal.user %>
        <br>
        <%= link_to 'Show', goal %>
        <%= link_to 'Edit', edit_goal_path(goal) if can? :update, goal %>
        <%= link_to 'Delete', goal, method: :delete, data: {confirm: 'Are you sure?'} if can? :destroy, goal %>
      </div>
    </div>
    <hr>
<% end %>
