<%= content_for :title, t('goals.title.show') %>

<% title = 'Show Goal' %>

<%= render layout: 'layouts/jumbotron', locals: {title: title, paginatable: nil} do %>
    <%= render layout: 'layouts/row' do %>
        <li class="list-group-item">
          <%= render partial: 'controls', locals: {goal: @goal, subscription: @subscription} %>
          <%= render @goal, locals: {goal: @goal} %>
        </li>
    <% end %>
    <%= render partial: 'comments/form', locals: {action: :create, comment: @goal.comments.new, goal: @goal} if user_signed_in? %>
<% end %>
