<% if user_signed_in? %>
    <% if current_page?(new_goal_path) %>
        <li class="active"><%= link_to 'New Goal', new_goal_path %></li>
    <% else %>
        <li><%= link_to 'New Goal', new_goal_path %></li>
    <% end %>
    <% if current_user.admin? %>
        <% if current_page?(new_admin_user_path) %>
            <li class="active"><%= link_to 'New User', new_admin_user_path %></li>
        <% else %>
            <li><%= link_to 'New User', new_admin_user_path %></li>
        <% end %>
    <% end %>
<% else %>
    <% if current_page?(new_user_registration_path) %>
        <li class="active"><%= link_to 'Sign up', new_user_registration_path %></li>
        <li><%= link_to 'Sign in', new_user_session_path %></li>
    <% elsif current_page?(new_user_session_path) %>
        <li><%= link_to 'Sign up', new_user_registration_path %></li>
        <li class="active"><%= link_to 'Sign in', new_user_session_path %></li>
    <% else %>
        <li><%= link_to 'Sign up', new_user_registration_path %></li>
        <li><%= link_to 'Sign in', new_user_session_path %></li>
    <% end %>
<% end %>
<% if @users %>
    <li class="active"><%= link_to 'Users', users_path %></li>
<% end %>
<% if @goals %>
    <% if @user %>
        <li><%= link_to 'Goals', goals_path %></li>
    <% else %>
        <li class="active"><%= link_to 'Goals', goals_path %></li>
    <% end %>
<% else %>
    <li><%= link_to 'Goals', goals_path %></li>
<% end %>
<% if @comments and not (@goal or @user) %>
    <li class="active"><%= link_to 'Comments', comments_path %></li>
<% elsif @scores and not (@goal or @subscription or @user) %>
    <li class="active"><%= link_to 'Scores', scores_path %></li>
<% elsif @subscriptions and not (@goal or @user) %>
    <li class="active"><%= link_to 'Subscriptions', subscriptions_path %></li>
<% elsif @tokens or @user and not (current_page?(new_user_registration_path) or current_page?(new_admin_user_path) or current_page?(new_user_session_path)) %>
    <%= render partial: 'layouts/user', locals: {user: @user} %>
<% elsif @goal and not current_page?(new_goal_path) %>
    <%= render partial: 'layouts/goal', locals: {goal: @goal} %>
<% elsif @comment %>
    <%= render partial: 'layouts/comment', locals: {comment: @comment} %>
<% elsif @score %>
    <%= render partial: 'layouts/score', locals: {score: @score} %>
<% elsif @subscription %>
    <%= render partial: 'layouts/subscription', locals: {subscription: @subscription} %>
<% elsif @token %>
    <%= render partial: 'layouts/token', locals: {token: @token} %>
<% end %>
<% if current_page?(page_path('api')) %>
    <li class="active"><%= link_to 'API', page_path('api') %></li>
<% else %>
    <li><%= link_to 'API', page_path('api') %></li>
<% end %>
<% if current_page?(page_path('about')) %>
    <li class="active"><%= link_to 'About', page_path('about') %></li>
<% else %>
    <li><%= link_to 'About', page_path('about') %></li>
<% end %>
