<ul class="nav navbar-nav">
  <% if user_signed_in? %>
      <% if current_page? new_goal_path %>
          <li class="active">
      <% else %>
          <li>
      <% end %><%= link_to 'New Goal', new_goal_path %></li>
      <% if current_user.admin? %>
          <% if current_page? new_admin_user_path %>
              <li class="active">
          <% else %>
              <li>
          <% end %><%= link_to 'New User', new_admin_user_path %></li>
      <% end %>
  <% else %>
      <% if current_page? new_user_registration_path %>
          <li class="active">
      <% else %>
          <li>
      <% end %><%= link_to 'Sign up', new_user_registration_path %></li>
      <% if current_page? new_user_session_path %>
          <li class="active">
      <% else %>
          <li>
      <% end %><%= link_to 'Sign in', new_user_session_path %></li>
  <% end %>
  <% if current_page? goals_path %>
      <li class="active">
  <% else %>
      <li>
  <% end %><%= link_to 'Goals', goals_path %></li>
  <% if current_page? users_path %>
      <li class="active">
  <% else %>
      <li>
  <% end %><%= link_to 'Users', users_path %></li>
  <%= yield :nav %>
  <% if current_page? page_path('about') %>
      <li class="active">
  <% else %>
      <li>
  <% end %><%= link_to 'About', page_path('about') %></li>
  <% if current_page? page_path('api') %>
      <li class="active">
  <% else %>
      <li>
  <% end %><%= link_to 'API', page_path('api') %></li>
  <% if current_page? page_path('blog') %>
      <li class="active">
  <% else %>
      <li>
  <% end %><%= link_to 'Blog', page_path('blog') %></li>
</ul>
