<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="http://deeprog.com/">deeprog</a>
      <%= link_to 'Home', user_signed_in? ? authenticated_root_path : root_path, class: 'navbar-brand' %>
      <% if user_signed_in? %>
          <%= link_to 'New Goal', new_goal_path, class: 'navbar-brand' %>
      <% end %>
      <%= link_to 'Goals', goals_path, class: 'navbar-brand' %>
      <% if user_signed_in? && current_user.admin? %>
          <%= link_to 'New User', new_user_path, class: 'navbar-brand' %>
    <% end %>
      <%= link_to 'Users', users_path, class: 'navbar-brand' %>
      <%= link_to 'About', pages_about_path, class: 'navbar-brand' %>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <i class="glyphicon glyphicon-user"></i>&nbsp;
          <%= current_user.name if user_signed_in? %>&nbsp;<span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <%= render 'devise/menu/registration_items' %>
          <%= render 'devise/menu/login_items' %>
        </ul>
      </li>
    </ul>
  </div>
</nav>