<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to image_tag('favicon.ico', alt: 'Goalify', class: 'navbar-brand'), page_path('home') %>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <%= render 'layouts/items' %>
      </ul>
      <%= form_tag goals_path, method: :get, class: 'navbar-form navbar-left' do %>
          <div class="form-group input-group">
            <div class="input-group-addon">Goals:</div>
            <%= search_field_tag :q, nil, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= submit_tag 'Search', class: 'btn btn-default' %>
          </div>
      <% end %>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
             aria-expanded="false">
            <i class="glyphicon glyphicon-user"></i>
            <% if user_signed_in? %>
                <%= current_user.name %>  <span class="badge"><%= current_user.score %></span>
            <% end %>
            <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <%= render 'devise/menu/items' %>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
