<ul class="nav nav-pills nav-stacked">
  <% if current_page?(page_path('home')) || current_page?(root_path) %>
      <li class="active"><%= link_to 'Home', page_path('home') %></li>
  <% elsif current_page?(new_goal_path) %>
      <li class="active"><%= link_to 'New Goal', new_goal_path %></li>
  <% elsif current_page?(new_admin_user_path) %>
      <li class="active"><%= link_to 'New User', new_admin_user_path %></li>
  <% elsif current_page?(page_path('about')) %>
      <li class="active"><%= link_to 'About', page_path('about') %></li>
  <% elsif current_page?(new_user_session_path) ||
          current_page?(controller: 'devise/sessions', action: (:create || :new)) %>
      <li class="active"><%= link_to 'Sign in', new_user_session_path %></li>
  <% elsif current_page?(new_user_registration_path) %>
      <li class="active"><%= link_to 'Sign up', new_user_registration_path %></li>
  <% elsif current_page?(edit_user_registration_path) ||
          current_page?(controller: 'users/registrations', action: (:edit || :update)) %>
      <%= render 'layouts/pills/user' %>
  <% elsif @comment %>
      <%= render 'layouts/pills/comment' %>
  <% elsif @comments %>
      <%= render 'layouts/pills/comments' %>
  <% elsif @goal %>
      <%= render 'layouts/pills/goal' %>
  <% elsif @goals %>
      <%= render 'layouts/pills/goals' %>
  <% elsif @score %>
      <%= render 'layouts/pills/score' %>
  <% elsif @scores %>
      <%= render 'layouts/pills/scores' %>
  <% elsif @subscription %>
      <%= render 'layouts/pills/subscription' %>
  <% elsif @subscriptions %>
      <%= render 'layouts/pills/subscriptions' %>
  <% elsif @token %>
      <%= render 'layouts/pills/token' %>
  <% elsif @tokens %>
      <%= render 'layouts/pills/tokens' %>
  <% elsif @users %>
      <%= render 'layouts/pills/users' %>
  <% elsif @user %>
      <%= render 'layouts/pills/user' %>
  <% end %>
</ul>
