<li><%= link_to 'Goal', goal_path(@subscription.goal) %></li>
<li><%= link_to 'User', user_path(@subscription.user) %></li>
<% if can? :update, @subscription %>
    <% if current_page?(edit_subscription_path @subscription) %>
        <li class="active"><%= link_to 'Edit Subscription', edit_subscription_path(@subscription, action: :edit) %></li>
    <% else %>
        <li><%= link_to 'Edit Subscription', edit_subscription_path(@subscription, action: :edit) %></li>
    <% end %>
<% end %>
<% if can? :destroy, @subscription %>
    <li><%= link_to 'Delete Subscription', @subscription, method: :delete,
                    data: {confirm: 'Are you sure?'} %></li>
<% end %>
