<% title = 'Subscription' %>

<%= render layout: 'layouts/dropdown', locals: {title: title} do %>
    <% unless subscription.completed? %>
        <% if can? :destroy, subscription %>
            <%= link_to(subscription, method: :delete) do %>
                <li><i class="glyphicon glyphicon-minus"></i> Unsubscribe</li>
            <% end %>
        <% end %>
        <% if can? :update, subscription %>
            <%= link_to subscription_path(subscription, subscription: {completed: true}), method: :put do %>
                <li><i class="glyphicon glyphicon-ok"></i> Complete</li>
            <% end %>
        <% end %>
        <li class="divider"></li>
    <% end %>
    <li><%= link_to 'Subscription Goal', subscription.goal %></li>
    <li class="active"><%= link_to 'Subscription Scores', scores_path(subscription: subscription) %></li>
    <li><%= link_to 'Subscription User', subscription.user %></li>
<% end %>
