<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:page_title) ? yield(:page_title) : t('title') %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : t('description') %>">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to image_tag('favicon.ico', alt: 'Goalify', class: 'navbar-brand'), root_path %>
    </div>
    <div class="collapse navbar-collapse">
      <%= render 'layouts/nav' %>
      <%= form_tag search_goals_path, method: :get, class: 'navbar-form navbar-left' do %>
          <div class="form-group input-group">
            <div class="input-group-addon">Goals:</div>
            <%= search_field_tag :q, nil, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= submit_tag 'Search', class: 'btn btn-default' %>
          </div>
      <% end %>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
            <i class="glyphicon glyphicon-user"></i>
            <% if user_signed_in? %>
                <%= current_user.name %>  <span class="badge"><%= current_user.score %></span>
            <% else %>
                User
            <% end %>
            <span class="caret"></span></a>
          <%= render 'devise/menu/dropdown_menu' %>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="jumbotron">
        <div class="container">
          <div class="row">
            <div class="col-sm-offset-2 col-sm-8">
              <div class="container">
                <% if flash.any?
                     flash.each do |msg_type, message| %>
                        <div class="alert <%= bootstrap_class_for msg_type %> alert-dismissible " role="alert">
                          <button class="close" data-dismiss="alert">&times;</button>
                          <i class="glyphicon glyphicon-<%= bootstrap_icon_for msg_type %>">&nbsp;</i><%= message %>
                        </div>
                    <% end
                       flash.clear %>
                <% end %>
                <div class="row">
                  <ul class="list-group">
                    <li class="list-group-item">
                      <%= render 'layouts/breadcrumb' %>
                    </li>
                  </ul>
                </div>
                <% if ['goals', 'users'].include?(controller_name)
                     unless ['new', 'create', 'show', 'edit', 'update'].include?(action_name)
                       if ['index', 'search'].include?(action_name) %>
                            <%= paginate instance_variable_get("@#{controller_name}") %>
                        <% else %>
                            <%= paginate instance_variable_get("@#{action_name}") %>
                        <% end %>
                    <% end %>
                <% end %>
                <%= yield %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
